/* ----- PAGE LAYOUT ----- */

body
{
	font-size: 10.5pt;
	font-family: Tahoma, Sans-Serif;
	line-height: 1.4em;
	color: Black;
	background-color: White;
	padding:0;
	margin:0;
}

.clearer
{
	clear:both;
}					  

.jab_container
{
	margin: 0 auto;
	width: 940px;
}

.jab_content
{
	padding:0;
	padding-top:10px;
	padding-bottom: 35px;
	min-height:400px;
}

.jab_heading
{
	background-color: #f0f0f0;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	padding:0;
	min-height:100px;
}

.jab_heading_content
{
	margin: 0 auto;
	width: 940px;
	height:100px;
	padding-bottom:0px;
}

.jab_heading h1
{
	font-size:26pt;
	color:#0b3157;
	font-weight:normal;	
	padding-top:20px;
}

.jab_heading h2
{
	font-size:14pt;
	font-weight:normal;
	color:#727272;
	line-height:1.4em;
	padding-right:400px;
	padding-left:10pt;
}

.jab_menubar
{
	min-height:40px;
	background-color:#0b3157;
}

.jab_menubarcontent
{
	margin: 0 auto;
	width: 940px;
	color:Black;
	text-align:left;
	padding-top:10px;
}

.jab_menubarcontent a:link, 
.jab_menubarcontent a:visited, 
.jab_menubarcontent a:active
{
	color: White;
	text-decoration:None;
}
.jab_menubarcontent a:hover
{
	color: Orange;
	text-decoration:None;
}
.jab_menubarcontent a.bright:link, 
.jab_menubarcontent a.bright:visited, 
.jab_menubarcontent a.bright:active
{
	color:#40ff40;
	text-decoration:None;
}
.jab_menubarcontent a.bright:hover
{
	color:Orange;
	text-decoration:None;
}

.footer_content
{
	margin: 0 auto;
	margin-top:-1px;
	width: 940px;
	clear: both;
	padding-top:0px;
	padding-bottom:32px;
	padding-left:10px;
	padding-right:10px;
	color: #929292;
	font-size: 8pt;
	font-family: 'Segoe UI', 'Calibri', 'Sans-Serif';
	border-top:solid 1px #CCCCCC;
}

.footer
{
	clear:both;
}




/* ----- STYLES ----- */
h1
{
	font-size: 15pt;
	color:#0b3157;
	margin:0;
}
h2
{
	font-size: 13pt;
	color:#0b3157;
	margin:0;
	margin-top:12pt;
	padding:0;
	padding-bottom:2px;
}
h3
{
	font-size: 10pt;
	color:#0b3157;
	margin:0;
	margin-top:12pt;
}
p
{
	margin:0;
	padding-bottom:6pt;
}
img
{
	padding-bottom:12pt;
	padding-top:12pt;
}
pre
{
	margin:10pt;
	margin-left:20pt;
	margin-right:20pt;
	border:solid 1px #4f81bd;
	background:#edf6fd;
	padding:10pt;
}
ul
{
	list-style: none;
	padding:0;
	margin:0;
	margin-bottom:6pt;
}
ol
{
	list-style-position: outside;
	list-style-type: decimal;
}
dt
{
	color:#0b3157;
}
dd
{
	margin-left:10pt;
	padding-bottom:8pt;
}
ul li
{
	padding-left:30pt;
	background-image: url(bullet.png);
	background-repeat: no-repeat;
	background-position: 15pt .5em;
}
a:link, a:visited, a:active
{
	color: #d76400;
}
a:hover
{
	color: Orange;
}

textarea
{
	font-family: Ariel,Verdana,sans-serif;
	font-weight:bold;
	font-size:10pt;
	background-color:White;
	color:Gray;
	border:solid 1px Silver;
}
input[type=text], input[type=password]
{
	font-family: Ariel,Verdana,sans-serif;
	font-weight:bold;
	font-size:10pt;
	color:Gray;
	background-color: White;
	border:solid 1px Silver;
}
input[type=file]
{
	font-family: Ariel,Verdana,sans-serif;
	font-weight:bold;
	font-size:10pt;
	color:Gray;
	background-color: White;
}
input[type=submit]
{
	margin-top:8pt;
}

small
{
	color:#808080;
}

/* ----- MAIN FORM LAYOUT ----- */

form.mainform label
{
	margin: 0;
	display: block;
	clear:both;
	padding-top:10px;
	margin-bottom:2px;
	float:left;
}


form.mainform label.checkbox
{
	margin: 0;
	display: block;
	clear:both;
	padding-top:2px;
	margin-bottom:2px;
	float:left;
}

form.mainform input[type=text], form.mainform input[type=password], form.mainform input[type=file]
{
	clear:both;
	float:left;
}

form.mainform textarea
{
	clear:both;
	float:left;
}

div.Errors
{
	color:Red;
}


/* ----- STANDARD FIELD SIZES ----- */
.stdfield
{
	width:330px;
}
.longfield
{
	width:400px;
}

.shortfield
{
	width:75px;
}

.stdtextareafield
{
	width:760px;
	height:250px;
}

.largetextareafield
{
	width:920px;
	height:340px;
}


p.startpreview
{
	font-size: 8pt;
	text-align: center;
	color: #000080;
	padding:0;
	margin-top: 12px;
	border-width: 1px;
	border-color: #000080;
	border-bottom-style: dotted;
}
p.endpreview
{
	font-size: 8pt;
	text-align: center;
	color:#000080;
	padding:0;
	margin-bottom:12px;
	border-width: 1px;
	border-color: #000080;
	border-top-style: dotted;
}

.blog_comment
{
	background-color:#F0F0FF;
	padding:5pt;
	margin-bottom:5pt;
}
.blog_comment h3
{
	padding:0;
	margin:0;
}